.TeamInfo {
  text-align: center;
  padding: 20px;
}

.TeamInfo img {
  max-width: 100%;
  height: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.TeamInfo p {
  margin-top: 10px;
  margin-bottom: 10em;
}

.BackButton {
  margin-top: 20px;
  margin-bottom: 2em;
}

.BackButton a {
  text-decoration: none;
  padding: 10px 15px;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .TeamInfo {
    padding: 10px;
  }

  .TeamInfo img {
    max-width: 30%; 
  }
}

@media screen and (max-width: 480px) {
  .BackButton a {
    padding: 8px 12px;
  }

  .TeamInfo img {
    max-width: 60%; 
  }
}
