.PilotInfo {
  text-align: center;
  padding: 20px;
}

.PilotInfo p {
  margin-top: 10px;
}

.BackButton {
  margin-top: 20em;
  margin-bottom: 2em;
}

.BackButton a {
  text-decoration: none;
  padding: 10px 15px;
  background-color: black;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .PilotInfo {
    padding: 10px;
  }
}

@media screen and (max-width: 480px) {
  .BackButton a {
    padding: 8px 12px;
  }
}
